@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.glitch.global/24891065-d534-4b80-930d-b86faa29d284/johannes-plenio-RwHv7LgeC7s-unsplash.jpg?v=1720477233150");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/14/00/beach-1838511_1280.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.container {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px; /* Increased gap for more spacing */
}

.fragrance-item {
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fragrance-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.fragrance-item img {
    max-height: 250px;
    object-fit: contain;
    transition: transform 0.3s;
    margin: 0 auto 20px; /* Added margin-bottom for more spacing */
}

.fragrance-item:hover img {
    transform: scale(1.1);
    
}

.fragrance-item h2 {
    font-size: 1.6em;
    margin: 10px 0 20px; /* Added margin-bottom for more spacing */
    color: #00796B;
}

.fragrance-item p {
    font-size: 1em;
    margin: 5px 0 20px; /* Added margin-bottom for more spacing */
    color: #666;
    flex-grow: 1;
}

.price {
    font-size: 1.3em;
    color: #333;
    font-weight: bold;
}

.price::before {
    content: '$';
}

.back {
    padding: 10px;
    margin-bottom: 40px;
    width: 30%;
    height: 50px;
    background: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.home {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
